<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<canvas id="my-chart"></canvas>

<input type="date" id="fromDate" name="fromDate" value="2013-09-01">
<input type="date" id="toDate" name="toDate" value="2014-09-01">
<button type="submit" id="searchButton" name="search">Search</button>
